.page {
    background-image: linear-gradient(180deg, var(--dark-gray-color), var(--dark-color));
    color: var(--white-color);
}

.page__page_color {
    height: 5px;
    background-color: var(--css-color);
}

.article__content {
    padding: 0 30px;
}

.article__head_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin: 24px 0;
}

.article__published_at {
    font-size: 12px;
    color: var(--gray-color);
}

.article__title {
    color: var(--white-color);
    font-size: 32px;
}

.article__description {
    font-size: 12px;
    text-align: justify;
}

.article__tags {
    font-size: 12px;
    color: var(--gray-color);
}

.article__text {
    text-align: justify;
}

.article__paragraph {
    margin: 16px 0;
}

.article__topic {
    margin-top: 24px;
}