:root {
  --dark-color: #111111;
  --dark-gray-color: #1C1C1C;  
  --white-color: #f9f9f9;  
  --gray-color: #c4c4c4;
  --css-color: #7838FF;
  --html-color: #FF4820;
  --javascript-color: #FFDF38;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--dark-color);
}

pre {
  white-space: pre-wrap;       
  white-space: -moz-pre-wrap;  
  white-space: -pre-wrap;      
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ul {
  list-style: square;
}

a {
  color: var(--gray-color);
  text-decoration: none;
}

a:hover {
  color: var(--white-color);
}

* {
  box-sizing: border-box;
}
